body {
  font-family: "Quicksand", sans-serif;
}

.country-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
  grid-gap: 4rem;
}

.home-page-main {
  margin: 0 auto;
  padding: 3rem 5%;
}

.filter-container {
  padding: 0 5%;
  margin: 3rem 0 0;
  display: flex;
  justify-content: space-between;
}

.search-field {
  width: 33%;
  min-width: 200px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  height: 42px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-field input {
  height: 32px;
  border: 0;
  width: 100%;
  font-size: 16px;
  outline: none;
  margin-left: 10px;
}

.dropdown {
  display: block;
  height: 42px;
  border: 0;
  background: #ffffff;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  padding: 0;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-container {
  position: relative;
}

.dropdown .css-yk16xz-control {
  border: 0;
  outline: none;
  min-height: 42px;
  padding: 0px 10px;
}

.dropdown .css-1okebmr-indicatorSeparator {
  width: 0;
}

.dropdown .css-1pahdxg-control {
  min-height: 42px;
  padding: 0px 10px;
}

@media (max-width: 600px) {
  .filter-container {
    flex-direction: column;
  }

  .search-field {
    width: 94%;
    margin-bottom: 20px;
  }

  .country-card-container {
    grid-template-columns: 1fr;
    padding: 0 10%;
  }
}

.pagination {
  padding-top: 10px;
}

.pagination > li > a,
.pagination > li > span {
  color: black !important;
}

.country-card {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 300px;
  cursor: pointer;
}

.country-card-picture {
  display: block;
  height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-size: cover;
  background-position: center;
}

.country-card-picture img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.country-card-info {
  padding: 1rem 1.5rem;
}

.country-card-info-name {
  font-size: 20px;
  margin: 15px 0;
}

.country-card-info p {
  font-size: 14px;
}

@media (max-width: 600px) {
  .country-card {
    max-width: 100%;
  }
}

.back-button {
  width: 140px;
  border-radius: 4px;
  height: 42px;
  font-size: 15px;
  cursor: pointer;
}

.back-button-container {
  width: 90%;
  margin: 50px auto 0;
}

.container {
  display: flex;
  width: 90%;
  margin: 50px auto 0;
  justify-content: space-between;
}

.country-image {
  width: 47%;
}

.country-image img {
  max-width: 100%;
}

.country-details {
  width: 47%;
  font-size: 15px;
  align-self: center;
}

.country-details > div {
  display: flex;
}

.country-info {
  width: 50%;
}

.border-countries {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.border-countries > p {
  width: 25%;
}

.border-countries > div {
  width: 75%;
}

.border-country {
  padding: 10px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (max-width: 600px) {
  .back-button-container {
    width: 80%;
  }
  .container {
    flex-direction: column;
    width: 80%;
    padding-bottom: 40px;
  }

  .country-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .country-details {
    width: 100%;
  }

  .country-details > div {
    flex-direction: column;
  }

  .country-info {
    width: 100%;
    margin-bottom: 10px;
  }

  .border-countries > div,
  .border-countries > p {
    width: 100%;
  }

  .border-country {
    margin-left: 0;
    margin-right: 10px;
  }
}
